.singlePost{
    flex: 9;
}
.singlePostImg{
    height: auto;
    width: 100%;
    object-fit: cover;
    border-radius: 7px;
}
.singlePostWrapper{
    padding: 20px;
    padding-right: 0;
}
.singlePostTitle{
    text-align: center;
    margin-top: 10px;
    font-family: "Lora", serif;
    font-size: 28px;
}
.singlePostEdit{
    float: right;
    font-size: 18px;
}
.singlePostIcon{
    margin-left: 10px;
    cursor: pointer;
}